
<form class="form-horizontal" style="width:400px;margin:auto;">
    <fieldset >
        <legend>Login to your account</legend>

        <div class="control-group">

            <label for="email" class="control-label">Email</label>

            <div class="controls">
                <input type="email" id="email" name="email" placeholder="Your e-mail address" required ng-model="credentials.email">
            </div>
        </div>
        <div class="control-group">

            <label for="password"  class="control-label">Password</label>
            <div class="controls">
                <input type="password" id="password" name="password" placeholder=""  required ng-model="credentials.password">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a href="#" class="btn" ng-click="login()">Login</a>
            </div>
        </div>
    </fieldset>
</form>
